/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(rgba(251, 254, 255, 0.9), rgba(93, 109, 111, 0.9)), url(./assets/bg3.jpg);
    background-size:cover;
    background-position: center;}
